input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
textarea{
    padding: 10px 15px;
    border: 1px solid $color-gray--light;
    background-color: $color-white;
    border-radius: 3px;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

button{
    @include button;
}
input[type="submit"], input.submit{
    @extend button;
}

.notice-message{
    padding: 15px;
    color: $color-white;
    border-radius: 3px;
    border-left-width: 8px;
    border-left-style: solid;
    margin-bottom: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    box-sizing: border-box;
    & > :last-child{
        margin-bottom: 0;
    }
    a{
        color: inherit;
    }
    &--error{
        background-color: $color-danger;
        border-color: darken($color-danger, 20);
    }
    &--warning{
        background-color: $color-warning;
        border-color: darken($color-warning, 20);
    }
    &--info{
        background-color: $color-green--dark;
        border-color: darken($color-green--dark, 20);
    }
    &--success{
        color: darken($color-green, 70);
        background-color: $color-green;
        border-color: darken($color-green, 20);
    }
    &--fixed{
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: $container-width;
        max-width: 90%;

        &--bottom{
            top: unset;
            bottom: 100px;
        }
        &--top {
            top: 100px;
        }
    }
}


.form-group{
    &__label{
        display: block;
        font-weight: 500;
    }
    &__input{
        width: 100%;
        box-sizing: border-box;
    }
}